#content ul.actions input.button:active,
#content ul.actions a.button:active {background-color: #bebebe;}
#content ul.actions input.button.primary:active,
#content ul.actions a.button.primary:active {background-color: #313942;}
#content ul.actions input.button.secondary:active,
#content ul.actions a.button.secondary:active {background-color: #313942;}
