* {font-family: "OpenSans", Verdana, Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

html {min-height: 100%;}
body {background: #ffffff; margin: 0; overflow-y: scroll; overflow-x: hidden;}


/* BASE */
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}

ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}

img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px; color: #333333;}
input, textarea {outline: none;}


a, span {font-size: inherit; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; text-transform: inherit;}
em, strong {font-size: inherit; font-family: inherit; line-height: inherit; color: inherit; text-transform: inherit;}

h1 {padding: 0 50px 30px; font-size: 48px; line-height: 1.05em;
	font-family: "PT Serif", Times, serif;
}
h2 {padding: 0 50px 30px; font-size: 30px; line-height: 1.1em;
	font-family: "PT Serif", Times, serif;
}
h3 {padding: 0 50px 10px; font-size: 20px; line-height: 1.25em;}
h4 {padding: 0 50px 5px; font-size: 14px; line-height: 1em; font-weight: bold;}
h5 {padding: 0 50px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}
h6 {padding: 0 50px 2px; font-size: 14px; line-height: 1em; font-weight: bold;}

p {padding: 0 50px 20px; font-size: 14px; line-height: 1.38em;} 


ul,
ol {font-size: 0;}
li {font-size: 13px; line-height: 1.25em;}

dl {font-size: 0;} 
dt, 
dd {display: inline-block; vertical-align: top; font-size: 13px; line-height: 1.25em;}


#page {position: relative;}


/* HEADER */
#header {position: relative; height: 100px;}
#header .logo {z-index: 10; position: fixed; top: 0; left: 40px; font-size: 18px; padding: 10px; color: #888888; cursor: pointer; background-color: rgba(255,255,255, 0.8); border-radius: 5px;
	*position: absolute;
	font-family: "PT Serif", Times, serif;
}
#header .servicenavigation {display: none;}

/* NAViGATION */
#navigation {z-index: 10; position: fixed; right: 40px; top: 0; background-color: rgba(255,255,255, 0.8); border-radius: 5px;
	*position: absolute;
}
#navigation ul {}
#navigation ul li {display: inline-block; vertical-align: top; padding: 10px; font-size: 18px; color: #888888;
	*display: inline;
	font-family: "PT Serif", Times, serif;
}
#navigation ul li.front {display: none;}

/* CONTENT */
#content {position: relative;}
#content .scene {position: relative; padding: 50px 0;}

/* FOOTER */
#footer {text-align: center; border-top: 1px solid #888888;}
#footer p {padding: 10px; font-size: 13px;}
#footer a {padding: 10px; font-size: 13px; display: block;}


/* TESTS */
#content .scene p.nosupport {margin: 0 50px; padding: 2px 5px; background: red; color: white;}

#content .scene div.tests {padding: 0 50px;}
#content .scene div.tests form {margin: 0 -50px 20px;}

#content .scene div.tests div.debug {font-size: 13px; color: #ffffff; background: #000000; max-height: 152px; padding: 5px; overflow: auto;}

#content .scene div.tests h2 {padding: 10px 0px 5px;}
#content .scene div.tests p {padding: 0px 0px 10px;}

#content .scene div.tests div.testpassed {background: green;}
#content .scene div.tests div.testfailed {background: red;}

#content .scene div.tests div.testpassed,
#content .scene div.tests div.testfailed {margin: 0 0 5px; padding: 5px 9px; border-radius: 4px;}

#content .scene div.tests div.testpassed,
#content .scene div.tests div.testfailed,
#content .scene div.tests div.testpassed *,
#content .scene div.tests div.testfailed * {color: white; font-size: 13px; line-height: 16px;}

#content .scene div.tests div.testpassed *,
#content .scene div.tests div.testfailed * {padding: 0; margin: 0;}

#content .scene div.tests hr {
	margin: 20px 0;
	border: 2px dashed #df0000;
}


/* BUTTONS */
#content ul.actions {}
#content ul.actions li {width: auto; height: auto; display: inline-block; padding: 0 10px 10px 0; vertical-align: top;
	*display: inline;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}


#content ul.actions input.button {width: auto; height: 28px; padding: 3px 9px; display: inline-block; vertical-align: top;
	*display: inline;
}
@media all and (-webkit-min-device-pixel-ratio:0) {
	#content ul.actions input.button {padding: 3px 12px 5px;}
}
#content ul.actions a.button {display: block; text-decoration: none; height: 16px; padding: 6px 12px 8px;}


/* DEFAULT BUTTON */
#content ul.actions input.button,
#content ul.actions a.button {font-size: 14px; background-color: #dedede; color: #333333; border: none; cursor: pointer; border-radius: 3px;}

/* PRIMARY BUTTON */
#content ul.actions input.button.primary,
#content ul.actions a.button.primary {background-color: #8c9399; color: #ffffff;}

/* SECONDARY BUTTON */
#content ul.actions input.button.secondary,
#content ul.actions a.button.secondary {background-color: #8c9399; color: #ffffff;}
 