#content ul.actions input.button:hover,
#content ul.actions a.button:hover {background-color: #bebebe;}
#content ul.actions input.button.primary:hover,
#content ul.actions a.button.primary:hover {background-color: #313942;}
#content ul.actions input.button.secondary:hover,
#content ul.actions a.button.secondary:hover {background-color: #313942;}
