#content .scene div.tests div.click_me {width: 100px; height: 50px; background: purple; color: white;}

#content .scene div.tests div.level1,
#content .scene div.tests div.level1 {}
#content .scene div.tests div.level1 {width: 100%; height: 270px; position: relative; background: red; padding: 0;}
#content .scene div.tests div.level2 {width: 60%; height: 160px; position: absolute; left: 10%; top: 30px; padding: 30px 10% 10px; background: green;}
#content .scene div.tests div.level3 {width: 60%; height: 100px; padding: 30px 20% 10px; background: blue; position: relative;}
#content .scene div.tests div.level4 {width: 60%; height: 30px; padding: 30px 20% 10px; background: yellow; color: #000000; position: relative;}

#content .scene div.tests div.level1 span,
#content .scene div.tests div.level2 span,
#content .scene div.tests div.level3 span,
#content .scene div.tests div.level4 span {position: absolute; top: 3px; left: 3px; font-size: 13px; color: #ffffff;}
#content .scene div.tests div.level4 span {color: #000000;}

#content .scene div.tests div.testlink {width: 100px; height: 50px; background: orange;}
#content .scene div.tests div.testlink a {height: 50px; display: block; text-indent: -9999px;}
#content .scene div.tests div.testlink.over {background: blue;}
