
/* FORMATS TEST */
#content .scene div.tests form.combinedformats {display: none;}


#content .scene div.tests form.combined {
	position: relative;
	margin-bottom: 50px;
}


#content .scene div.tests form.combined {
	position: relative;
	margin-bottom: 50px;
}

/* MAKE DEBUG OUTPUT STICKY FOR BETTER INSPECTION */
#content form.combined.fixed div.debug {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
