body {overflow: auto;}
.scene {position: relative;}
.toc,
.subtoc {font-size: 0;}
.toc li,
.subtoc li {display: inline-block; vertical-align: top; padding: 10px 20px; margin-right: 10px; border-radius: 10px; border: 1px solid black;}

#content .scene div.tests > .toc {
	text-align: center; padding: 0 0 20px;
}
#content .scene div.tests > .coords {z-index: 10; position: fixed; top: 100px; right: 50px; background-color: rgba(255, 0, 255, 0.8); padding: 5px 10px;
	text-align: center;
	line-height: 30px;
}

#content .scene .scrollable {padding: 0; margin: 0;}
#content .scene .scrollable > li {height: 400px; position: relative; display: block;}

#content .scrollable > li h2 {padding: 10px;}

#content .scrollable > li#item1 {background: red;}
#content .scrollable > li#item2 {background: blue; margin-left: 400px; width: 100%;}
#content .scrollable > li#item2 h2 {color: #ffffff;}
#content .scrollable > li#item3 {background: green;}
#content .scrollable > li#item3 h2 {color: #ffffff;}
#content .scrollable > li#item4 {background: black;}
#content .scrollable > li#item4 h2 {color: #ffffff;}

#content .scrollable > li .subtoc {position: absolute; top: 15px; right: 0;}
#content .scrollable > li .subtoc li a {color: #ffffff;}